<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bounds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F05D8A641BC0C3C300A6E2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F05D8A7D1BC0C3C300A6E2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F05D8A881BC0C3C300A6E2B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
